<div class="banner" style="background-image: linear-gradient(0deg, rgba(0,10,10,0.2) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_url 'no_work.jpg' %>);">
  <div class="log-btns">
    <% if user_signed_in? %>
     <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
              <%= link_to searches_path do %>
                <i class="fa fa-search"></i> <%= t(".profile", default: "Mes recherches") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Page d'accueil") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnection") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Inscription"), new_user_registration_path, class: "btn btn-success btn-xs" %> &nbsp
      <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
  <div class="banner-content">
    <div class="banner-title">
      <h1>Happynvestor</h1>
      <br>
      <h2>Devenez investisseur, c'est simple !</h2>
      <br>
        <%=  render "searches/form", search: @search, types: @types %>
    </div>
      <div class="bottom-arrow text-center">
        <a href="#concept">
        <%= image_tag "arrow.svg", class: "floating arrow-img" %>
        </a>
      </div>
  </div>
</div>

<div class="container" id="concept">

    <div class = "card_home_wrapper">
      <div class = "card_home_img" style = "background-image: url(<%= image_path "rentabilite.jpg" %>);" >
      </div>
      <div class="card_home_box">
        <header class="card_home_item card_home_header">
          <h2 class = "card_home_item card_home_item--small card_home_title">Rentabilité
          </h2>
        </header>
        <hr class = "card_home_item card_home_divider">
        <div >
          <p>Comparateur de rentabilité.</p>
          <p>Nous vous permettons de trouver facilement le bien idéal.</p>
        </div>
      </div>
    </div>

    <div class="card_home_wrapper">
      <div class="card_home_img" style="background-image: url(<%= image_path "simplicite.jpg" %>);">
      </div>
      <div class="card_home_box">
        <header class="card_home_item card_home_header">
          <h2 class="card_home_item card_home_item--small card_home_title">Simplicité</h2>
        </header>
        <hr class="card_home_item card_home_divider">
        <div>
          <p>Quelques clics suffisent.</p>
          <p>Nous vous simplifions votre recherche et l'identification de vos acteurs.</p>
        </div>
      </div>
    </div>

    <div class="card_home_wrapper">
      <div class="card_home_img" style="background-image: url(<%= image_path "temps.jpg" %>);">
      </div>
      <div class="card_home_box">
        <header class="card_home_item card_home_header">
          <h2 class="card_home_item card_home_item--small card_home_title">Gain de temps</h2>
        </header>
        <hr class="card_home_item card_home_divider">
        <div>
          <p>Alerte par SMS.</p>
          <p>Toutes les informations viennent à vous automatiquement.</p>
        </div>
      </div>
    </div>


</div>
<% content_for :meta_title, "Coco est sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "description" %>
<% content_for :meta_image, cloudinary_url("http://retraite-en-thailande.com/files/2016/03/10-ml-arome-noix-de-coco-fa-coco-flavor-coconut.jpg") %>
