<div class="search-card">
  <div class="search-card-city">
    <%= search.address.capitalize %>
  </div>
  <div class="search-card-map" style="background-image: url(<%=  display_static_map(search, '300x400')%>)"></div>
  <div class="search-card-content">
    <div class="search-card-content-desc">
      <p class="search-card-content-desc-price"><%= search.budget.to_s.reverse.to_s.gsub(/...(?=.)/,'\& ').reverse %> €</p>
      <p><%= search.type.name %></p>
    </div>
    <div class="search-card-content-icons">
      <div class="badge-container">
        <i class="fa fa-home"></i>
        <div class="badge badge-blue product-count"><%= search.results.size %></div>
      </div>
      <div class="badge-container">
        <i class="fa fa-bar-chart"></i>
        <div class="badge badge-red product-count"><%= Random.rand(4..12) %>%</div>
      </div>
    </div>
  </div>
  <%= link_to "", search, class: "search-card-link" %>
  <%= link_to search_path(search), method: :delete, class: "search-card-delete" do %>
      <i class="fa fa-trash"></i>
  <% end %>

</div>
