<% @title = @search.address + " " + @search.budget.to_s + "€" %>
<div class="show-wrapper">
  <div class="search-infos">
    <p>Adresse : <%= @search.address.capitalize %></p>
    <% unless @search.radius.nil? %>
      <p>Rayon : <%= @search.radius %></p>
    <% end %>
    <p>Type de bien : <%= @search.type.name %></p>
    <p>Budget : <%= @search.budget %>€</p>
    <% unless @search.surface_min.nil? %>
      <p>Surface min. : <%= @search.surface_min %>m²</p>
    <% end %>
    <% unless @search.room_min.nil? %>
      <p>Nb. de pièce min. : <%= @search.room_min %></p>
    <% end %>
  </div>
  <div class="show-container">
    <% if @search.results.any? %>
      <div class="results-container">
        <%= render 'results_card', search: @search %>
      </div>
    <% else %>
      <div class="waiting-container text-center">
        <h3>Un instant...</h3>
        <p>Nos serveurs sortent leurs loupes pour trouver les meilleurs annonces...</p>
      </div>
    <% end %>
    <div class="map-container">
      <%= image_tag display_static_map(@search, '400x600') %>
    </div>
    <%= render 'result_modal' %>
</div>


<% content_for :meta_title, "Vos recherches" %>
<% content_for :meta_description, "Gagnez du temps et de l'argent avec HAPPYNVESTOR" %>
<% content_for :meta_image, cloudinary_url("http://www.hempsteadhouse.co.uk/assets/images/hh-fb-holder.jpg") %>

<% content_for :after_js do %>
  <script>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);
      });
    });
  </script>

  <script>
    $('body').on('hidden.bs.modal', '.modal', function () {
      $(this).removeData('bs.modal');
    });
  </script>

  <script>
    App.cable.subscriptions.create(
      {
        channel: "SearchChannel",
        search_id: <%= @search.id %>
      },
      {
        connected: function(data) {
          console.log("[CONNECTED]");
        },
        received: function(data) {
          console.log(data);
          $newResult = $(data.html)
          $newResult.hide();
          if ($('.waiting-container').is(':visible')) {
            $('.show-container').prepend('<div class="results-container"></div>');
            $('.waiting-container').hide();
          };
          $('.results-container').prepend($newResult);
          $newResult.slideDown();
        }
      }
    );
  </script>
<% end %>
