<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="search-details">
        <p>Adresse : <%= @search.address.capitalize %></p>
        <% unless @search.radius.nil? %>
          <p>Rayon : <%= @search.radius %></p>
        <% end %>
        <p>Type de bien : <%= @search.type.name %></p>
        <p>Budget : <%= @search.budget %>€</p>
        <% unless @search.surface_min.nil? %>
          <p>Surface min. : <%= @search.surface_min %>m²</p>
        <% end %>
        <% unless @search.room_min.nil? %>
          <p>Nb. de pièce min. : <%= @search.room_min %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="results-container">
        <%= render 'results_card', search: @search %>
      </div>
    </div>
    <div class="col-md-4">
      <div id="map" style="width: 100%; height: 600px;"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>


    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);
      });
    });





  </script>

  <script>
    App.cable.subscriptions.create(
      {
        channel: "SearchChannel",
        search_id: <%= @search.id %>
      },
      {
        connected: function(data) {
          console.log("[CONNECTED]");
        },
        received: function(data) {
          console.log(data);
          $newResult = $(data.html)
          $newResult.hide();
          $('.results-container').prepend($newResult);
          $newResult.slideDown();
        }
      }
    );
  </script>
<% end %>
